* {
    cursor: crosshair;
}

body {
    background-color: black;
    font-family: monospace;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

nav { 
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    top: 0;
    z-index: 1;
}

nav a {
    color: white;
    min-width: 250px;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    transition: 0.5s;
    color: rgb(31, 230, 77);
}

nav .learn-submenu {
    height: 16vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    visibility: hidden;
    top: 8vh;
    left: 28.3vw;
}

nav .learn-dropdown:hover {
    transition: 0.5s;
    color: rgb(31, 230, 77);
}

nav .learn-dropdown:hover + .learn-submenu {
    visibility: visible;
}

nav .learn-submenu:hover {
    visibility: visible;
}

.contact-us {
    background-color: #0c0c0f;
    margin: 0 30px;
    width: 90vw;
    height: 100vh;
    padding: 10px 50px;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px;
}

.contact-us form input, select, textarea {
    font-size: 20px;
    color: rgb(31, 230, 77);
    font-family: monospace;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid rgb(31, 230, 77);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact-us form select {
    appearance: none;
    -webkit-appearance: none;
}

.contact-us form textarea {
    resize: none;
    height: 250px;
    padding: 20px;
}

.contact-us form #submit {
    left: 30%;
    width: 30%;
}

.contact-us form #submit:hover {
    background-color: rgb(35, 41, 29);
}

.contact-us form input::placeholder, textarea::placeholder {
    color: rgb(31, 230, 77);
    font: 20px monospace;
}

.contact-us h1 {
    font-size: 50px;
}

.contact-us p {
    margin: 30px;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
}

hr {
    height: 1px;
    background-color: rgb(31, 230, 77);
    border: 0;
}

footer {
    height: 50px;
    text-align: center;
    margin: 20px 10px 60px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

footer:hover {
    transition: 0.5s;
    color: rgb(31, 230, 77);
}

@media screen and (max-width: 600px) {
    body {
        max-width: 430px;
        background-color: black;
        font-family: monospace;
        color: white;
        font-size: 30px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .cyborg-image {
        top: 28vh;
    }

    nav { 
        overflow: hidden;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        z-index: 1;
    }
    
    nav a {
        width: 100%;
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-align: left;
        margin-left: 5px;
    }

    nav .learn-submenu {
        visibility: visible;
        text-align: right;
        top: -40px;
        visibility: visible;
        left: 37vw;        
    }
    nav .learn-submenu a {
        font-size: 20px;
        margin: 0;
        max-width: 30%;
        text-align: right;
    }

    nav a:hover {
        transition: 0.5s;
        color: rgb(31, 230, 77);
    }
    
    nav .learn-dropdown:hover + .learn-submenu {
        visibility: visible;
    }
    
    nav .learn-submenu:hover {
        visibility: visible;
    }

    .contact-us {
        background-color: #0c0c0f;
        min-width: 300px;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2px;
    }

    .contact-us h1 {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }

    .contact-us p {
        font-size: 10px;
        
    }

    .contact-us form input, select, textarea {
        font-size: 10px;
    }

    .contact-us form input::placeholder, textarea::placeholder {
        font-size: 10px;
    }

    form {
        margin-top: 0px;
        margin: 5px;
    }

    form input {
        margin-top: 0px;
        font: 5px monospace;
    }

    .contact-us form #submit {
        font-size: 10px;
        width: 100%;
    }

    footer p {
        font-size: 12px;
    }
}

