* {
    cursor: crosshair;
}

body {
    background-color: black;
    font-family: monospace;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

nav { 
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    top: 0;
    z-index: 1;
}

nav a {
    color: white;
    min-width: 250px;
    text-decoration: none;
    padding: 5px;
}

nav .learn-submenu {
    height: 16vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    visibility: hidden;
    top: 8vh;
    left: 28.3vw;
}

nav a:hover {
    transition: 0.5s;
    color: rgb(31, 230, 77);
}

nav .learn-dropdown:hover {
    transition: 0.5s;
    color: rgb(31, 230, 77);
}

nav .learn-dropdown:hover + .learn-submenu {
    visibility: visible;
}

nav .learn-submenu:hover {
    visibility: visible;
}

.contact-us {
    background-color: #0c0c0f;
    margin: 0 30px;
    width: 90vw;
    height: 70vh;
    padding: 10px 50px;
}

.contact-us h1 {
    font-size: 50px;
}

.contact-us p {
    margin: 30px;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
}

hr {
    height: 1px;
    background-color: rgb(31, 230, 77);
    border: 0;
}

footer {
    height: 50px;
    text-align: center;
    margin: 20px 10px 60px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

footer:hover {
    transition: 0.5s;
    color: rgb(31, 230, 77);
}

#solutionDisplay {
    color: rgb(31, 230, 77);
}

