a:link {
    color: blue;
}

a:visited {
    color: orange;
}

a:focus {
    color: green;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

h1[id^="heading2"] {
        color: red;
        font-family: Arial, 'Times New Roman';
    }
    
p[id*="para1"] {
    color: blue;
    font-family: 'Times New Roman', Verdana;
    font-size: 18px;
}

